.form {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: 2rem;
}

.form-section {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;

  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 5px;

  letter-spacing: 0.5px;
}

.form-input {
  height: 3.5rem;
  width: 320px;

  font-size: 1.2rem;
  padding: 0px 10px;

  outline: none;
  background: #eee;

  border: 1px solid #bbb;
  border-radius: 5px;
}

.form-input.form-textarea {
  height: 200px;
  padding: 10px 10px; 
}

.submit-btn {
  padding: 0.8rem 3rem;
  font-size: 0.9rem;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #272727;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-top: 2rem;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.success-msg {
  color: #272727;
}

.back-btn {
  padding: 0.8rem 3rem;
  font-size: 0.9rem;
  color: #272727;
  border: 1px solid #272727;
  border-radius: 5px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-top: 2rem;

  margin-right: 10px;
}

.add-more-btn,
.preview-close-btn {
  padding: 0.5rem 2.5rem;
  font-size: 0.9rem;
  color: #AA0061;
  border: 1px solid #AA0061;
  border-radius: 5px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-top: 2rem;

  margin-right: 10px;
  outline: none;
}

.field-section {
  border: 1px solid #ddd;
  padding: 0.8rem;

  margin-bottom: 2rem;
}

.field-input {
  height: 3.5rem;

  font-size: 1.2rem;
  padding: 0px 10px;

  outline: none;
  background: #eee;

  border: 1px solid #bbb;
  border-radius: 5px;
}

/* ADD EDIT DYNAMIC FORM */
.title {
  padding: 2rem;
  text-align: center;
  padding-bottom: 0;
}

.title > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}